<div>
    <h2>Uploaded Files</h2>
    <p-table [value]="files" [paginator]="true" [rows]="rows" [totalRecords]="totalRecords">
      <ng-template pTemplate="header">
        <tr>
          <th>No</th>
          <th>File Name</th>
          <th>Created At</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-file>
        <tr>
          <td>{{ file.no }}</td>
          <td>{{ file.file_name }}</td>
          <td>{{ file.created_at }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>